:root{
  --comprar : #5bc500;
}

/**GLOBALES**/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin: 0;
}

p{
  margin: 0.7rem;
}

h1 {
  font-size: 3em;
  margin: 0.67em 0;
}

h2{
    font-size: 2em;
    margin: 0.67em 0;
}

/**UTILIDADES**/
 .container{
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
  }


.boton{
  font-size: 1.2rem;
  text-transform: uppercase;
  max-width: 100%;
  padding: 10px 30px;
  background-color: var(--comprar);
  border-radius: 10px;
  color: white;
}


/**HEADER**/

.header{
padding: 1rem;
background: -moz-linear-gradient(left, rgba(181,218,238,1) 0%, rgba(42,176,229,1) 48%, rgba(190,222,239,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181,218,238,1)), color-stop(48%, rgba(42,176,229,1)), color-stop(100%, rgba(190,222,239,1)));
background: -webkit-linear-gradient(left, rgba(181,218,238,1) 0%, rgba(42,176,229,1) 48%, rgba(190,222,239,1) 100%);
background: -o-linear-gradient(left, rgba(181,218,238,1) 0%, rgba(42,176,229,1) 48%, rgba(190,222,239,1) 100%);
background: -ms-linear-gradient(left, rgba(181,218,238,1) 0%, rgba(42,176,229,1) 48%, rgba(190,222,239,1) 100%);
background: linear-gradient(to right, rgba(181,218,238,1) 0%, rgba(42,176,229,1) 48%, rgba(190,222,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5daee', endColorstr='#bedeef', GradientType=1 );
text-align: center;
}

/**MAIN**/

.contenido{
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
}


.productos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px){
  .productos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }
}


.producto{
  padding: 10px 0;
  margin-bottom: 1rem;
}

.nombre{
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.marca{
  font-size: 1.1rem;
  font-family: sans-serif;
}

.precio{
  font-size: 1.6rem;
  font-weight: 700;
}

/**CARRITO**/

.carrito{
  border: 1px solid #5bc500;
}

